<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Employee Storage Service Example</title>
    <script type="text/javascript">
        //<![CDATA[
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
        function validateForm() {
            var email = document.getElementById("email").value;
            var name = document.getElementById("name").value;
            var errorMessageElement = document.getElementById("errorMessage");
            var surname = document.getElementById("surname").value;
            var address = document.getElementById("address").value;
            var salary = document.getElementById("salary").value;
            var error = "";
            error += !name ? "The 'name' field should be filled.<br>" : "";
            error += !surname? "The 'surname' field should be filled.<br>": "";
            error += !address ? "The 'address' field should be filled.<br>": "";
            error += !validateEmail(email) ? "Email isn't correct.<br>": "";
            error += !salary ? "The 'salary' field should be filled.<br>": "";

            if(error) {
                errorMessageElement.innerHTML = error + " Please change and try again";
                return false;
            } else {
                return true;
            }
        }
        //]]>
    </script>
</head>
<body>
<h3>Employee Storage Service</h3>
<form th:action="@{/edit(id = ${employeeEntity.id}, companyId = ${employeeEntity.company.getId()})}"
      th:object="${employeeEntity}" method="post" onsubmit="return validateForm()">
    <table>
        <tr>
            <td>
                Name *:
            </td>
            <td>
                <input type="text" th:field="*{name}"/>
            </td>
        </tr>
        <tr>
            <td>
                Surname * :
            </td>
            <td>
                <input type="text" th:field="*{surname}"/>
            </td>
        </tr>
        <tr>
            <td>
                email * :
            </td>
            <td>
                <input type="text" th:field="*{email}"/>
            </td>
        </tr>
        <tr>
            <td>
                address * :
            </td>
            <td>
                <input type="text" th:field="*{address}"/>
            </td>
        </tr>
        <tr>
            <td>
                salary * :
            </td>
            <td>
                <input type="number" th:field="*{salary}"/>
            </td>
        </tr>
        <tr>
            <td>
                company :
            </td>
            <td th:text="${employeeEntity.getCompany().getName()}">Company</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button> <a th:href="@{/employees}">Back</a>
            </td>
        </tr>
    </table>
</form>
* - required

<p id="errorMessage"><span th:text="${error}"></span></p>
</body>
</html>